body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

/* Background image */
html::before {
  content: " ";
  display: block;
  background-image: url("./styles/IMG/mario-bg.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10;
  background-color: #95e8f3 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 20%;
  padding: 1re;
}

.chatbox {
  width: 80%;
}

.spamers {
  list-style-type: none;
  padding: 0;
}

button:active,
button:focus {
  outline: none !important;
}
