body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.info {
  flex-basis: 20%;
  padding: 1re;
}

.chatbox {
  flex-basis: 80%;
}

.spamers {
  list-style-type: none;
  padding: 0;
}
