.messages {
  height: 40vh;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  overflow: auto;
}

.new_message_form {
  margin-top: 1rem;
}

label {
  opacity: 0.6;
  font-weight: bold;
}

.new_message_form button {
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
}
