@media screen and (max-width: 1030px) {
  .info {
    display: none;
  }
  .chatbox {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and(max-width: 400px) {
  .tip h3 {
    font-size: 18px !important;
  }
}

@media screen and (max-height: 600px) {
  .info {
    display: none;
  }
  .chatbox {
    margin: 0 auto;
  }
}

@media screen and (max-width: 830px) {
  .message {
    width: 100%;
  }
  .date {
    display: none;
  }
}
